<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cannon Commons</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap"
          rel="stylesheet"
        />
      </head>
<body>
    <div class="container">
        <h2>Add New Employee</h2>
        <form action="/addEmployee" method="POST">
            <label for="EmpFirstName">First Name:</label>
            <input type="text" id="EmpFirstName" name="EmpFirstName" required />
            <br><br>
            <label for="EmpLastName">Last Name:</label>
            <input type="text" id="EmpLastName" name="EmpLastName" required />
            <br><br>
            <label for="EmpAreaCode">Area Code:</label>
            <input type="text" id="EmpAreaCode" name="EmpAreaCode" required />
            <br><br>
            <label for="EmpPhoneNumber">Phone Number:</label>
            <input type="text" id="EmpPhoneNumber" name="EmpPhoneNumber" required />
            <br><br>
            <button type="submit">Add Employee</button>
            <br>
            <button type="button" onclick="location.href='/internal'">Cancel</button>
          </form>          
    </div>
</body>
</html>
