<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cannon Commons</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="topnav">
        <ul>
          <li><h1>Cannon Commons Record Keeper</h1></li>
          <li><a href="/login">Manager Login</a></li>
        </ul>
      </div>
    </header>
    <div class="welcome-container">
      <div class="text">
        <p>
          Welcome to the Cannon Commons Record Keeper! Use this website to keep
          track of employees, certifications, and attendance. Managers can use
          the secure login to add or change employee data. <br />
          <b>Thanks for using our service!</b>
        </p>
      </div>
      <div class="image">
        <img src="/cannon-commons.jpg" alt="Cannon Center" />
      </div>
    </div>
    <div class="certificates" style="text-align: center">
      <h2>Certifications</h2>
      <p>
        While working at the Cannon Commons, each employee earns certifications
        as part of basic training. Managers can edit the certifications that
        each employee has earned using the secure login.
      </p>
    </div>
  </body>
</html>
