<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cannon Commons</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="topnav">
        <ul>
          <li><h1>Cannon Commons Manager Hub</h1></li>
          <li><a href="/internal">Manager Home</a></li>
          <li><a href="/addEmployee">Add Employees</a></li>
          <li><a href="/viewEmployees">View Employees</a></li>
          <li><a href="/viewAttendance">View Attendance</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
      </div>
    </header>
    <div class="welcome-container" style="display: flex; justify-content: center;">
      <div class="text" style="text-align: center;">
        <p>Admins, use this page to maintain the employee records.</p>
      </div>
    </div>    
  </body>
</html>
