<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cannon Commons</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="topnav">
        <ul>
          <li><h1>Cannon Commons Record Keeper</h1></li>
          <li><a href="/">Logout</a></li>
          <li><a href="/viewAttendance">View Attendance</a></li>
          <li><a href="/viewCertifications">View Certifications</a></li>
        </ul>
      </div>
    </header>
    <div class="welcome-container">
      <div class="text">
        <p>Admins, use this page to mantain the employee records.</p>
      </div>
      <div class="image">
        <img src="/cannon-commons.jpg" alt="Cannon Center" />
      </div>
    </div>
  </body>
</html>
